<div
  infiniteScroll
  (scrolled)="onScrollDown()"
  [scrollWindow]="false"
  infiniteScrollContainer=".infinite-scroll"
  [fromRoot]="true"
>
  <ng-container *ngFor="let item of homeItems">
    <app-post *ngIf="item.post" [post]="item.post" [user]="user$ | async" [postContext]="postContext.ProfilePage"></app-post>
    <app-comment
      *ngIf="item.comment"
      [comment]="item.comment"
      [user]="user$ | async"
      [postContext]="postContext.ProfilePage"
    ></app-comment>
  </ng-container>
</div>
