.toggle-btn-wrapper {
  text-align: right;
}

.mat-sidenav-container {
  background-color: transparent;
}

mat-sidenav {
  background-color: transparent;
  padding-left: 16px;
  width: 264px;
  border: 0;
}

.mat-drawer-side.mat-drawer-end {
  border: none;
}

@media screen and (max-width: 768px) {
  mat-sidenav {
    background-color: #17191C;
  }
}





