.toggle-btn-wrapper {
  text-align: right;
}

.mat-sidenav-container {
  background-color: transparent;
  min-height: 800px;
}

mat-sidenav-content {

}

mat-sidenav {
  background-color: transparent !important;
  padding-left: 16px;
  width: 264px;
  border: 0;
}

.mat-drawer-side.mat-drawer-end {
  border: none;
}

mat-card {
  margin-bottom: 16px;
}


.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  mat-sidenav {
    background-color: #17191C !important;

  }
}




