<gw-post
  [post]="post"
  [postContext]="postContext.PostPage"
  [user]="user"
  *ngIf="post && isDefaultOrEditComment"
  (editPost)="onEditPost()"
></gw-post>

<gw-add-item
  (cancelEditItem)="onCancelPostEdit()"
  *ngIf="pageState === postPageState.EditPost"
  [addItem]="editItemPost"
></gw-add-item>

<gw-add-item
  (cancelEditItem)="onCancelCommentEdit()"
  *ngIf="isDefaultOrEditComment && user"
  [addItem]="editItemComment"
></gw-add-item>

<div
  infiniteScroll
  (scrolled)="onScrollDown()"
  [infiniteScrollDistance]="1"
  *ngIf="comments"
>
  <ng-container *ngFor="let item of comments.items">
    <gw-comment
      *ngIf="post"
      [comment]="item"
      [user]="user"
      (editComment)="onEditComment($event)"
      [postContext]="postContext.PostPage"
      [postAuthorId]="post.authorId"
    ></gw-comment>
  </ng-container>
</div>
