<mat-card class="post">
  <gw-user-info [userInfo]="userInfo" [showInfo]="!isProfilePage">
    <a class="category" (click)="navigate()" *ngIf="!isProfilePage else categoryText;">{{ post.categoryLabel }}</a> ·
    <span [matTooltip]="post.tooltipDate">{{ post.date | timeAgo }}</span>
    <span *ngIf="isProfilePage"> · {{ post.userActionOnPost }}</span>
  </gw-user-info>

  <ng-template #categoryText>
    <span>{{ post.categoryLabel }}</span>
  </ng-template>

  <mat-card-content>
    <markdown [data]="post.content" ngPreserveWhitespaces></markdown>
  </mat-card-content>

  <mat-card-actions>
    <span class="left">
      <button mat-button (click)="onVote(voteType.Upvote)">
        <mat-icon [matBadge]="post.upvotes" matBadgeColor="primary" color="{{post.vote?.type === voteType.Upvote ? 'primary' : '' }}">arrow_upward</mat-icon>
      </button>

      <button mat-button (click)="onVote(voteType.DownVote)">
        <mat-icon [matBadge]="post.downvotes" matBadgeColor="primary" color="{{post.vote?.type === voteType.DownVote ? 'primary' : '' }}">arrow_downward</mat-icon>
      </button>
    </span>

    <span class="right">
      <a mat-button [routerLink]="[postRoute[postContext], post.id]" *ngIf="postContext === postContexts.PostsPage || postContext ===  postContexts.ProfilePage" (click)="onPostLink()">
        <mat-icon [matBadge]="post.comments" matBadgeColor="primary">comment</mat-icon>
      </a>

      <button mat-button [matMenuTriggerFor]="menuActions">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menuActions="matMenu">
        <button mat-menu-item (click)="onCopyLink()">
          <mat-icon>content_copy</mat-icon>
          <span class="menu-item-name">Copy link</span>
        </button>

        <button mat-menu-item (click)="onEdit()" *ngIf="canEditOrDelete && postContext === postContexts.PostPage">
          <mat-icon>edit</mat-icon>
          <span class="menu-item-name">Edit</span>
        </button>

        <button mat-menu-item (click)="onDelete()" *ngIf="canEditOrDelete">
          <mat-icon>delete</mat-icon>
          <span class="menu-item-name">Delete</span>
        </button>
      </mat-menu>
    </span>

  </mat-card-actions>
</mat-card>
