.post {
  .category {
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.51);
  }
}

mat-card {
  margin-bottom: 16px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}
