// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gw-angular-primary: mat-palette($mat-blue);
$gw-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gw-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gw-angular-theme: mat-dark-theme(
  $gw-angular-primary,
  $gw-angular-accent,
  $gw-angular-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gw-angular-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
* ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #DADADA;
  height: 100%;
}

h1, h2, h3, h4 {
  color: #DADADA;
}

main {
  margin: 0 auto;
  background: #232323;
  max-width: 1012px;
  padding: 20px;
  font-size: 16px;
  // height: calc(100% - 90px);
}
