// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
.mat-snack-bar-container {
  color: $light-secondary-text !important;
  background: #323232 !important;
}

.mat-simple-snackbar-action {
  color: #ff4081 !important;
}
.mat-checkbox-layout {
  white-space: normal !important;
}
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gw-angular-primary: mat-palette($mat-blue);
$gw-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gw-angular-warn: mat-palette($mat-red);

$my-mat-grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #ff0000,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

// Background palette for dark themes.
$my-mat-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: #303030,
  hover: rgba(white, 0.04),
  card: #2b2b2b,
  dialog: #2b2b2b,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700),
);

// Foreground palette for dark themes.
$my-mat-dark-theme-foreground: (
  base: #dadada,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: #dadada,
  icons: #dadada,
  text: #dadada,
  slider-min: #dadada,
  slider-off: rgba(#dadada, 0.3),
  slider-off-active: rgba(#dadada, 0.3),
);

$gw-angular-theme: (
  primary: $gw-angular-primary,
  accent: $gw-angular-accent,
  warn: $gw-angular-warn,
  is-dark: true,
  foreground: $my-mat-dark-theme-foreground,
  background: $my-mat-dark-theme-background,
);

// Create the theme object (a Sass map containing all of the palettes).
// $gw-angular-theme: mat-dark-theme(
//   $gw-angular-primary,
//   $gw-angular-accent,
//   $gw-angular-warn
// );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gw-angular-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
* ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #dadada;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  color: #dadada;
}

a {
  color: #49a0cc;
  text-decoration: none;
}

ul,
ol {
  padding-left: 32px;
  padding-bottom: 16px;
}

main {
  margin: 0 auto;
  // background: #232323;
  max-width: 1012px;
  padding: 20px 16px;
  font-size: 16px;
  // height: calc(100% - 90px);

  p a:hover {
    text-decoration: underline;
  }

}

.warn-snackbar {
  color: #f44336 !important;
}
