.post-form {

  .content-container {
    display: flex;
  }

  .image {
    margin-right: 16px;


    img {
      width: 48px;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    }
  }

  .form-field {
    flex-basis: 100%;
  }

  .actions {
    display: block;
    text-align: right;

    .category {
      margin-right: 16px;
    }
  }

  .cancel {
    margin-right: 10px;
  }

  .format-text-button {
    margin-right: 5px;
  }
}

.preview {
  img {
    max-width: 100%;
  }
}

mat-tab-header{
  background-color: #2b2b2b;;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

textarea {
  overflow: hidden !important;
  resize: vertical !important;
}


