<mat-tab-group>
  <mat-tab label="Write">
    <mat-card>
      <form [formGroup]="commentForm" class="post-form">

        <div class="content-container">
          <div class="image">
            <img [src]="user.avatar || './assets/images/common/no_avatar.jpg'" alt="{{ user.username }}'s avatar" />
          </div>

          <mat-form-field class="form-field">
            <textarea cdkTextareaAutosize [cdkAutosizeMinRows]='2' matInput placeholder="Add a comment..." formControlName="content"></textarea>
            <mat-error *ngIf="content.errors?.minlength || content.errors?.maxlength">Comment must be between 3 and 1000 characters long</mat-error>
          </mat-form-field>
        </div>


        <div class="actions" *ngIf="content.value">
          <button mat-icon-button color="primary" class="format-text-button" (click)="onFormatHelp()">
            <mat-icon>text_format</mat-icon>
          </button>
          <app-upload (imageLink)="onUpload($event)"></app-upload>
          <button mat-icon-button color="primary" class="format-text-button" (click)="onAddEmoji()">
            <mat-icon>insert_emoticon</mat-icon>
          </button>
          <button mat-stroked-button color="accent" class="form-button cancel" *ngIf="comment" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" class="form-button" [disabled]="commentForm.invalid" (click)="onSubmit()">{{ comment ? 'SAVE':'POST' }}</button>
        </div>

      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Preview">
    <mat-card class="preview">
      <markdown [data]="content.value" ngPreserveWhitespaces></markdown>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<div style="position: relative;">
  <div class="emoji-comment">
    <app-emoji *ngIf="isAddEmoji" (emoji)="onAddedEmoji($event)" [class]="emojiStyle"></app-emoji>
  </div>
</div>


