.form-field {
  width: 100%;
}

.form-button {
  width: 100%;
  height: 45px;
  margin-top: 5px;
}

.remember-me {
  padding: 10px 0px 15px 0px;
  display: block;
}

.extra-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.mat-icon {
  margin-bottom: 3px;
}
