.register-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .register-form {
    flex: 1 1 25rem;
    margin: 20px;

    h1 {
      margin: 0;
    }

    .terms {
      padding: 5px 0px 15px 0px;
      display: block;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .register-info {
    flex: 1 1 25rem;
    margin: 20px;

    img {
      width: 90%;
    }

    .img-wrapper {
      padding-top: 5px;
      text-align: center;
    }
  }

  .form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-button {
    width: 100%;
    height: 45px;
    margin-top: 5px;
  }
}



