<form [formGroup]="forgotPasswordForm" class="register-form">
  <h2>Forgotten Password</h2>
  <p>A password rest link will be sent to this email address</p>
  <mat-form-field class="form-field">
    <input matInput placeholder="Email" formControlName="email" required/>
    <mat-error *ngIf="email.invalid && email.errors.required">Email is required</mat-error>
    <mat-error *ngIf="email.errors?.email">Email must be valid one</mat-error>
    <mat-error *ngIf="email.errors?.minlength || email.errors?.maxlength">Email must be between 6 and 30 characters long</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="form-button" [disabled]="forgotPasswordForm.invalid" (click)="onSubmit()">SUBMIT</button>
</form>
