<mat-card class="profile" *ngIf="user">
  <div class="image">
    <img [src]="user.avatar || './assets/images/common/no_avatar.jpg'" alt="{{ user.username }}'s avatar" />
  </div>
  <div class="info">
    <div class="name">{{ user.username }}</div>
    <div class="location">{{ user.location }}</div>
    <div class="gender">{{ user.gender | titlecase }}</div>
    <div class="summary">
      <markdown [data]="user.summary || ''" ngPreserveWhitespaces></markdown>
    </div>
    <div class="actions">
      <a mat-raised-button routerLink="edit" color="primary" *ngIf="canEditProfile">Edit Profile</a>
    </div>
  </div>
</mat-card>
