<mat-card-header [class.profile]="!showInfo">
  <div mat-card-avatar *ngIf="showInfo">
    <a [routerLink]="userInfo.link">
      <img [src]="avatar" alt="{{ userInfo.username }}'s avatar" />
    </a>
  </div>

  <mat-card-title *ngIf="showInfo">
    <a [routerLink]="userInfo.link">
      {{ userInfo.username }}
    </a>
    <span class="role" [ngClass]="userInfo.role" *ngIf="userInfo.role">{{ userInfo.role | titlecase }}</span>
  </mat-card-title>

  <mat-card-subtitle>
    <ng-content></ng-content>
  </mat-card-subtitle>
</mat-card-header>
