.blog {
    /* background: var(--primary-background-color); */
    display: flex;
    flex-wrap: wrap;
}

/* ARTICLES SECTION */

.blog section {
    flex: 1 1 100%;
}

.blog h1 {
    font-size: 1.3rem;
    /* font-weight: 400; */
}

.blog h2 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(180, 180, 180);
}

.blog a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 200ms cubic-bezier(.08, .52, .52, 1) color;
}

.blog a:hover {
    color: #49A0CC;
}

.blog article {
    background: var(--primary-background-color);
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}

.blog img {
    width: 100%;
}

.blog .article-image {
    border-bottom: 1px solid black;
}

.blog .article-image img {
    transition: 200ms cubic-bezier(.08, .52, .52, 1) filter;
}

.blog .article-image img:hover {
    filter: brightness(120%);
    filter: contrast(120%);
}

.blog article .article-content {
    padding: .5rem 1rem;
}

.blog .article-dott {
    margin: .3rem;
}

.blog .article-meta {
    background: #16202D;
    padding: .4rem .4rem .4rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.541);
    font-size: .875rem;
}

.blog .author {
    font-weight: bold;
}

.blog .author img {
    vertical-align: middle;
    width: 1.1rem;
    margin-top: -.2rem;
}

/* ASIDE SECTION */

.blog aside {
    flex: 1 1 100%;
    margin-bottom: 1.8rem;
}

aside ul {
    padding: .5rem 1rem .5rem 1.5rem;
}

aside li {
    list-style: none;
    padding-bottom: .5rem;
}

/* Categories */

aside .categories {
    background: var(--primary-background-color);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
}

.blog aside h2 {
    padding: .2rem .5rem .2rem .5rem;
    background: #16202D;
    border-bottom: 1px solid #111111;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /* box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75); */
    color: var(--primary-color);
}

/* Search Box */

aside .search-blog {
    background: var(--primary-background-color);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
}

.blog .search-container form {
    display: flex;
}

.blog .search-container input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Archive */

.blog .archive {
    background: var(--primary-background-color);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
    font-size: .875rem;
}

.blog .archive-container {
    padding: .5rem;
    padding-bottom: 1rem;
}

.blog .archive a {
    margin-right: .3rem;
}

.blog .archive-title {
    color: #dadada69;
}

.blog .months-wrapper {
    padding-bottom: .6rem;
}

@media screen and (min-width: 800px) {
    .blog {
        flex-wrap: nowrap;
    }
    .blog h1 {
        font-size: 1.7rem;
    }
    .blog h2 {
        font-size: 1.2rem;
    }
    .blog section {
        flex: 0 1 40rem;
    }
    .blog aside {
        flex: 0 1 18.3rem;
        margin-left: 1.5rem;
    }
    .blog .article-meta {
        font-size: 1rem;
    }
}