<div class="team">
  <div class="team-card" *ngFor="let item of teamItems">
    <div class="image">
      <img src="{{ item.image }}" alt="{{ item.name }}'s image" />
    </div>

    <div class="info">
      <div class="name">
        {{ item.name }}
        <a href="{{ item.link }}" target="_blank">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>

      <div class="role admin">{{ item.role }}</div>
      <div class="description">{{ item.description }}</div>
    </div>
  </div>
</div>
