<mat-card class="archive">
  <h3>ARCHIVE</h3>
  <div class="title">{{ currentYear }}</div>

  <div class="months">
    <ng-container *ngFor="let item of months">
      <a
        [routerLink]=""
        [queryParams]="{ filters: item.url }"
        [class]="item.class"
        (click)="onNavigate(item)"
        >{{ item.label }}</a
      >
    </ng-container>
  </div>

  <div class="title">ARCHIVES BY YEAR</div>
  <span class="years" *ngFor="let item of years">
    <a
      [routerLink]=""
      [queryParams]="{ filters: item.url }"
      [class]="item.class"
      (click)="onNavigate(item)"
      >{{ item.label }}</a
    >
  </span>
</mat-card>
