<mat-card>
  <h3>SORT BY</h3>
  <ng-container *ngFor="let item of items">
    <a
      mat-menu-item
      [routerLink]="'./'"
      [queryParams]="{ sort: item.url, fromPost: item.fromPost }"
      (click)="onSortSelected(item)"
      [class]="item.class"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span [matTooltip]="item.description">{{ item.label }}</span>
    </a>
  </ng-container>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <mat-select
      [formControl]="selectedTime"
      (selectionChange)="navigateSorting(true)"
    >
      <mat-option [value]="item" *ngFor="let item of sortTime">{{
        item
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
