<form [formGroup]="newPasswordForm" class="register-form">
  <h2>Reset Password</h2>
  <p>Enter you new password</p>

  <mat-form-field class="form-field">
    <input matInput placeholder="Password" type="password" formControlName="password" required/>
    <mat-error *ngIf="password.invalid && password.errors.required">Password is required</mat-error>
    <mat-error *ngIf="password.errors?.minlength || password.errors?.maxlength">Password must be between 6 and 30 characters long</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="form-button" [disabled]="newPasswordForm.invalid" (click)="onSubmit()">SUBMIT</button>
</form>
