<mat-card>
  <form class="search-form">
    <mat-form-field class="form-field">
      <input matInput placeholder="Search..." [formControl]="searchTerm" />
      <mat-icon class="search-icon" color="primary" matSuffix (click)="onSubmit()">search</mat-icon>
    </mat-form-field>

    <div class="submit-wrapper">
      <button
        mat-raised-button
        color="primary"
        class="form-button"
        [disabled]="!searchTerm.value"
        (click)="onSubmit()"
      >
      <mat-icon>search</mat-icon>
    </button>
    </div>
  </form>
</mat-card>

<mat-card>
  <h3>{{ 'Sort by' | uppercase }}</h3>
  <ng-container *ngFor="let item of sorts">
    <a mat-menu-item (click)="navigateBySort(item.url)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span [matTooltip]="item.description">{{ item.label }}</span>
    </a>
  </ng-container>
</mat-card>

<mat-card>
  <h3>{{ 'Category' | uppercase }}</h3>
  <ng-container *ngFor="let item of categories">
    <a mat-menu-item (click)="navigateByCategory(item.value)">
      <span>{{ item.label }}</span>
    </a>
  </ng-container>
</mat-card>

<mat-card class="archive">
  <h3>{{ 'Archive' | uppercase }}</h3>
  <div class="title">{{ getCurrentYear() }}</div>

  <div class="months">
    <ng-container *ngFor="let item of months">
      <span class="month" (click)="navigateToMonth(item)">{{ item }}</span>
    </ng-container>
  </div>

  <div class="title">ARCHIVES BY YEAR</div>
  <div class="years" *ngFor="let item of years">
    <span class="year" (click)="navigateToYear(item)">{{ item }}</span>
  </div>
</mat-card>


