.search-form {
  .form-field {
    width: 100%;
  }

  .search-icon:hover {
    cursor: pointer;
  }

  .submit-wrapper {
    display: none;
  }
}

h2 {
  font-weight: 400;
}

.archive {
  font-size: 14px;

  .months {
    margin-bottom: 10px;
    width: 100%;
    word-break: break-word;
  }

  .title {
    color: #dadada69;
  }

  .year, .month {
    padding-right: 12px;
  }
  .year:hover,  .month:hover {
    cursor: pointer;
    color: #49a0cc;;
    transition: 200ms cubic-bezier(.08, .52, .52, 1) color;
  }
}
