<mat-tab-group>
  <mat-tab label="Write">
    <mat-card>
      <form [formGroup]="postForm" class="post-form">

        <div class="content-container">
          <div class="image">
            <img [src]="user.avatar || './assets/images/common/no_avatar.jpg'" alt="{{ user.username }}'s avatar" />
          </div>

          <mat-form-field class="form-field">
            <textarea
              cdkTextareaAutosize
              [cdkAutosizeMinRows]='2'
              matInput placeholder="Add a post..."
              formControlName="content"
              #myTextArea (click)="getCaretPos(myTextArea)"
              (keyup)="getCaretPos(myTextArea)">
          </textarea>
            <mat-error *ngIf="content.errors?.minlength || content.errors?.maxlength">Post must be between 3 and 5000 characters long</mat-error>
          </mat-form-field>
        </div>


        <div class="actions" *ngIf="content.value">
          <mat-form-field class="category">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let item of categories" [value]="item.value">{{ item.label }}</mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid && category.errors.required">Category is required</mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="onFormatHelp()">
            <mat-icon>text_format</mat-icon>
          </button>
          <app-upload (imageLink)="onUpload($event)"></app-upload>
          <button mat-icon-button color="primary" class="format-text-button" (click)="onAddEmoji()">
            <mat-icon>insert_emoticon</mat-icon>
          </button>
          <button mat-stroked-button color="accent" class="form-button cancel" *ngIf="post" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" class="form-button" [disabled]="postForm.invalid" (click)="onSubmit()">{{ post ? 'SAVE' : 'POST' }}</button>
        </div>
      </form>

    </mat-card>
  </mat-tab>
  <mat-tab label="Preview">
    <mat-card class="preview">
      <markdown [data]="content.value" ngPreserveWhitespaces></markdown>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<div class="emoji-post">
  <app-emoji *ngIf="isAddEmoji" (emoji)="onAddedEmoji($event)"></app-emoji>
</div>



