@import 'variables';

.post-form {
  .content-container {
    display: flex;
  }

  .image {
    margin-right: 16px;

    img {
      width: 48px;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    }
  }

  .form-field {
    flex-basis: 100%;
    margin-left: 8px;
  }

  .actions {
    display: block;
    text-align: right;

    .category {
      margin-right: 16px;
    }
  }

  .cancel {
    margin-right: 10px;
  }

  .format-text-button {
    margin-right: 5px;
  }
}

.preview {
  min-height: 181px;

  img {
    max-width: 100%;
    display: block;
  }
}

textarea.mat-input-element.cdk-textarea-autosize {
  resize: vertical;
}

.tab-group {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: auto;

  .tab-header {
    background: $background-color;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 14px;
    font-weight: 500;
    color: darken($text-color, 20%);
    position: relative;
    justify-content: space-between;

    .tab {
      height: 48px;
      padding: 0 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;
      min-width: 100px;
    }

    .ink-bar {
      background-color: $ink-bar-color;
      position: absolute;
      left: 0px;
      bottom: 0;
      height: 2px;
      transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
      width: 100px;
    }
  }

  .tab-body {
    position: relative;
    display: flex;

    .tab-panel {
      display: block;
      overflow: hidden;
      flex-basis: 100%;

      &.active {
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        flex-grow: 1;
      }

      &:not(.active) {
        display: none;
      }

      mat-card {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}
