<mat-card class="profile" *ngIf="user">
  <div class="image">
    <img [src]="user.avatar || user.defaultAvatar" alt="{{ user.username }}'s avatar" />
  </div>
  <div class="info">
    <div class="name">
      <span [matTooltip]="user.joinedAt">{{ user.username }}</span>
      <span class="role role-red" *ngIf="user.userRole">{{ user.userRole | titlecase }}</span>
    </div>
    <div class="location">{{ user.location }}</div>
    <div class="gender">{{ user.gender | titlecase }}</div>
    <div class="summary">
      <markdown [data]="user.summary || ''" ngPreserveWhitespaces></markdown>
    </div>
    <div class="actions">
      <a mat-raised-button routerLink="edit" color="primary" *ngIf="canEditProfile">Edit Profile</a>
    </div>
  </div>
</mat-card>


<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let item of navLinks"
  (click)="activeLink = item"
  [routerLink]="item.link"
  [active]="activeLink === item"> {{ item.label }} </a>
</nav>

<router-outlet></router-outlet>


