.profile {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 16px;
  position: relative;

  .details {
    flex-grow: 1;
    font-size: 14px;
    color: #898989;
    line-height: 1.4;

    .summary {
      color: #dadada;
      margin-top: 16px;
      padding-bottom: 16px;
      line-height: 1.5;
      display: block;
    }
  }

  .actions {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    flex-wrap: wrap;
  }
}
