.edit-profile-container {
  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  textarea {
    height: 100px;
  }

}

.mat-radio-button {
  margin-right: 16px;
  margin-bottom: 20px;
}


