<mat-card class="profile" *ngIf="user">
  <gw-user-info [userInfo]="userInfo" [isProfile]="true">
    <div class="details">
      <div class="location" *ngIf="user.location">{{ user.location }}</div>
      <div class="gender" *ngIf="user.gender">{{ user.gender | titlecase }}</div>
      <markdown class="summary" [data]="user.summary || ''" ngPreserveWhitespaces></markdown>
    </div>
  </gw-user-info>

  <div class="actions">
    <a mat-raised-button routerLink="edit" color="primary" *ngIf="isEditAllowed">Edit Profile</a>
  </div>
</mat-card>

<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let item of navLinks"
    (click)="activeLink = item"
    [routerLink]="item.link"
    [active]="activeLink === item"
  >
    {{ item.label }}
  </a>
</nav>

<router-outlet></router-outlet>
